/* root */

/* style for all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* style body element */
body {
    background-color: #d9dcd6;
}

/* style all anchor elements */
a {
    color: #ffffff;
    text-decoration: none;
}

/* style all paragraph elements */
p {
    font-size: 16px;
}

/* header */

/* style for header class elements */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* style for all header class h1 elements */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* style for all seo class elements contained within an h1 style within the header class */
.header h1 .seo {
    color: #d9dcd6;
}

/* navigation */

/* style for all header class nav elements */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* style for all header class nav unordered list elements */
.header nav ul {
    /* no marker is shown in the unordered list */
    list-style-type: none;
}

/* style for all header class nav unordered list list item elements */
.header nav ul li {
    display: inline-block;
    /* Put a 25-pixel margin at the left of all list elements */
    margin-left: 25px;
}

/* main */

/* the hero class styles the background image of the marketing meeting */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* the float-left class styles images on the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* the float-right class styles images on the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* articles */

/* style for all content class elements */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* style for all benefits class elements */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styles common to all benefit-... class elements */
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styles common to all benefit-... class h3 header elements */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styles common to all benefit-... class img elements */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    /* Block display */
    display: block;
    margin: 10px auto;
    /* limit image to a maximum width of 150 pixels */
    max-width: 150px;
}

/* aside */

/* styles common to all class elements */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* styles common to all class img elements */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    /* limit image to a maximum height of 200 pixels */
    max-height: 200px;
}

/* styles common to all class h2 elements */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    /* Put a 20-pixel margin under the header */
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer */

/* style for footer class element */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* style for footer class h2 elements */
.footer h2 {
    font-size: 20px;
}
